.App {
  margin-top: 20vh;
  min-width: 500px;
  display: flex;
}

.padding {
  width: 40%;
}

.calculatorContainer {
  text-align: center;
  width: 60%;
  min-width: 300px;
}

.displayColumn, .inputPadColumn {
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  min-width: 300px;
  padding-block: 20px;
  background-color: lightblue;
}

.displayColumn {
  border-top: 1px solid blue;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.inputPadColumn {
  border-bottom: 1px solid blue;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.historyContainer {
  min-width: 200px;
  border: 1px solid green;
  border-radius: 8px;
  margin-right: 20%;
  background-color: lightgreen;
  text-align: right;
  overflow-y: auto;
}
